@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@import '@fontsource-variable/fira-code';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: 'Roboto', sans-serif;
	--font-mono: 'Fira Code Variable', monospace;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

*[class^='prose'] {
	code::before {
		display: none;
	}
	code::after {
		display: none;
	}

	code {
		background-color: var(--color-gray-50);
		border-radius: var(--radius-md);
		padding: 2px 4px;
	}

	code:where(.dark, .dark *) {
		background-color: var(--color-gray-900);
	}

	pre > code {
		background-color: transparent;
		padding: 0;
	}
}
