@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Roboto', sans-serif;
}

.prose {
	code::before {
		display: none;
	}
	code::after {
		display: none;
	}

	code {
		font-family: 'Fira Code', monospace;
		@apply rounded bg-gray-50 p-[2px] px-[3px];
	}

	pre code {
		@apply bg-transparent p-0;
	}
}

.toasts {
	.toast {
		margin: 15px !important;
		min-width: fit-content !important;
		@apply overflow-hidden rounded-[7px] shadow;
	}

	.progress {
		height: 4px !important;
		animation-name: shink !important;
	}

	.content {
		padding: 7px !important;
		padding-left: 13px !important;
	}

	@keyframes shink {
		0% {
			width: 100%;
		}
		100% {
			width: 0;
		}
	}
}
