@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Roboto', sans-serif;
}

*[class^='prose'] {
	code::before {
		display: none;
	}
	code::after {
		display: none;
	}

	code {
		font-family: 'Fira Code', monospace;
		@apply rounded bg-gray-50 p-[2px] px-[3px] font-bold;
		@apply dark:bg-gray-900;
	}

	pre > code {
		@apply bg-transparent p-0 font-normal;
	}
}
